.auth {
  background: #fff;
  padding: 10px;
  margin: 50px auto !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#login {
  width: 90%;
  max-width: 450px;
  height: 550px;

  .input-box {
    display: flex;
    align-items: center;
    svg {
      margin-left: -30px !important;
      margin-top: 50px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
#register {
  width: 90%;
  max-width: 550px;
  padding-bottom: 30px;
  // height: 700px;
}
